<h2>User info</h2>


  <p class="border-bottom">
    <%= image_tag 'no_image', size:"100×100" %>
  </p>

  <p class="border-bottom"><strong>name  <%= current_user.name %></strong></p>

  <p><strong>introduction  <%= current_user.introduction %></strong></p>

  <%= link_to edit_user_path(current_user.id) , class:"btn btn-outline-secondary col-12" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>



<h2>New Book</h2>

<%= form_with model: @book , url:'/books' , method: :post do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p>
   <%= f.submit 'Create Book' ,class:"btn btn-success" %>
  </p>
  
<% end %>

